.dapp-content {
    padding-left: 60px;
    padding-right: 60px;
}

.dapp-content h1 {
    font-weight: 100;
    font-size: 1.2em;
    margin-top: 16px;
    margin-bottom: 32px;
}
.dapp-content strong {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 200;
    margin-right: 10px;
}