<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../styles/index.css" rel="stylesheet">
        <link href="../styles/iconfont.css" rel="stylesheet">
        <script>window.$ = window.jQuery = require('../lib/jquery-3.3.1.min.js');</script>
        <meta charset="UTF-8">
        <title>Wise Wallet</title>
    </head>

    <body>
        <div class="drag-bar"></div>
        <header class="dapp-header">
            <ul>
                <li>
                    <a class="active">
                        <i class="iconfont icon-wallet"></i>
                        <span>WALLET</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="iconfont icon-send"></i>
                        <span>SEND</span>
                    </a>
                </li>
            </ul>
        </header>
        <iframe id="main-iframe" class="content-page" src="wallet.html"></iframe>
    </body>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".dapp-header a").each(function(index) {
                $(this).click(function() {  
                    $(".dapp-header a").removeClass("active");
                    $(".dapp-header a").eq(index).addClass("active");
                });
            });

            $(".dapp-header a").click(function() {
                if($(this).children('span').text() == 'WALLET') {
                    $(".content-page").attr("src", "wallet.html");
                }
                else if($(this).children('span').text() == 'SEND') {
                    $(".content-page").attr("src", "send.html");
                }
            });
        });
        
    </script>        
</html>