
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="../styles/common.css" rel="stylesheet">
  <link href="../styles/wallet.css" rel="stylesheet">
  <link href="../styles/iconfont.css" rel="stylesheet">
  <link href="../styles/bootstrap.css" rel="stylesheet">
  <script>window.$ = window.jQuery = require('../lib/jquery-3.3.1.min.js');</script>
  <script src="../controllers/mapping.js"></script>
  <style type="text/css">

    /*p,input,button{

        text-align: center;

    }*/

    p{

        text-align: center;

    }
    .intro{
        filter:alpha(opacity=0);opacity:0;width: 0;height: 0;
    }

</style>
</head>

<body>
  <main class="dapp-content">
    <!-- <h1><strong></strong> overview</h1> -->
    <div style="width:100%;height:70px"></div>
    <div class="container" style="margin-top:50px;">
            <div>
                <p><input style="width:40%" type="button" value="登记" class="btn btn-success" onclick="addbtu()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input style="width:40%" type="button" value="查询" class="btn btn-success" onclick="searchbtu()"/></p>
            </div>
        
                <div id="adddiv">
                    <div class="divtype" style="margin-left:6%;margin-top:20px">
                        <span class="spantype">以太地址:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="ethaddress" id="ethaddress"  class="inputtype" readonly="readonly" onkeyup="value=value.replace(/[^\w]/ig,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\w]/ig,''))"/>
                        <input type="file" id="ethfile" onchange="getEthFilePath()" /> 
                        <button onclick="selectEthFile();" style="filter:alpha(opacity=0);opacity:0;width: 0;height: 0;"></button>
                        <p id="p2" class="intro" style="text-align:left;line-height:2px">请输入密码：</p>
                        <input type="text" id="ethpass" class="intro"/> <input type="button" id="checkEth" value="确定" class="intro" onclick="App.checkEth();"/> 
                        <input id="privatekey" />
                    </div>
                    <br />
                    <div class="divtype" style="margin-left:6%;margin-top:20px">
                        <span class="spantype">主链地址:</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mainaddress" id="mainaddress" class="inputtype" onkeyup="value=value.replace(/[^\w]/ig,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\w]/ig,''))"/>
                        <input type="file" id="mainfile" onchange="getFilePath()" /> 
                        <button onclick="selectFile();" style="filter:alpha(opacity=0);opacity:0;width: 0;height: 0;"></button>
                        <p id="p1" class="intro" style="text-align:left;line-height:2px">请输入密码：</p>
                        <input type="text" id="mainpass" class="intro"/> <input type="button" id="checkMain" value="确定" class="intro" onclick="checkMain();"/> 
                    </div>
                    <br />
                    <span id="returnspan" style="padding-right: 8%;color: red;"></span>
                    <br />
                    <br />
                    <p><input type="button" value="保存" style="width:40%" class="btn btn-success" onclick="App.save()"/></p>
            </div>
            <div id="searchdiv" style="display:none">
                    <div class="divtype" style="margin-left:6%;margin-top:20px">
                        <span class="spantype">以太地址:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="ethaddress" id="ethaddressVal"  class="inputtype" value=""/>
                    </div>
                    <br />
                    <div class="divtype" style="margin-left:6%;margin-top:5px">
                        <span class="spantype">主链地址:</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mainaddress" id="mainaddressVal" readonly="readonly"/>
                    </div>
                    <br />
                    <br />
                    <p><input type="button" value="查询" style="width:40%" class="btn btn-success" onclick="App.search()"/></p>
            </div>

        </div>
    </div>
  </main>
</body>
<script language="javascript" type="text/javascript">
  window.require = window.parent.require;
        const KeyStore = require('../lib/keystore');
        const keystore = new KeyStore();
        function selectFile(){
            $("#mainaddress").val("");
            $("#mainfile").trigger("click");        
        }       
        function getFilePath(){
            document.getElementById("mainaddress").value = "";
            $(".intro").removeClass("intro");   
        }
        function checkMain(){
            try{
            var value;
            var password = document.getElementById("mainpass").value;
            var f = document.getElementById("mainfile").files;  
            var path = f[0].path;
            
            if(password==""){
              alert("密码不能为空");
              return false;
            }
            
              var SecretKey;
              var josn=keystore.Readfull(path);
              SecretKey=keystore.DecryptSecretKeyfull(josn,password);
              
              var ss=SecretKey.then(function (rs) {
                    value="true";
                    if(rs == null){
                        alert("获取私钥失败，请检查keystore和密码是否正确！");
                        return false;
                    }else{
                        document.getElementById("mainaddress").value = josn.address;
                        $("#p1").addClass("intro");   
                        $("#mainpass").addClass("intro");   
                        $("#checkMain").addClass("intro");   
                    }
              })
            }catch(e){
              alert("获取私钥失败，请检查keystore和密码是否正确！");
              return false;
            }
        }


        function selectEthFile(){
            $("#ethfile").trigger("click");        
        }       
        function getEthFilePath(){
            // document.getElementById("ethaddress").value = "";
            $(".intro").removeClass("intro");   
        }

        function addbtu(){
            $("#adddiv").show();
            $("#searchdiv").hide();
            // document.getElementById("ethaddress").value = "";
            // document.getElementById("mainaddress").value = "";
            // document.getElementById("ethfile").value = "";
            // document.getElementById("mainfile").value = "";
            // document.getElementById("mainpass").value = "";
            // document.getElementById("ethpass").value = "";
        }
        function searchbtu(){
            $("#adddiv").hide();
            $("#searchdiv").show();
            // document.getElementById("ethaddress").value = "";
            // document.getElementById("mainaddress").value = "";
            // document.getElementById("ethfile").value = "";
            // document.getElementById("mainfile").value = "";
              
        }

</script>
</html>