<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="../styles/common.css" rel="stylesheet">
  <link href="../styles/wallet.css" rel="stylesheet">
  <link href="../styles/iconfont.css" rel="stylesheet">
  <script src="../lib/jquery-3.3.1.min.js"></script>
  <script src="../lib/templete.js"></script>
  
  
</head>

<body>
  <main class="dapp-content">
    <h1><strong>Account</strong> overview</h1>
    <div class="wallet-box-list">
        <!-- <a class="wallet-box" href="0xF6026cE0f721cd8Ca85624bCb0Ca0De9E54986a4" onclick="return false;">
          <span></span>
          <h3 class="not-ens-name">
            <i class="iconfont icon-key"></i>
            Account
          </h3>
          <span class="account-balance">
            0,00
            <span>wdc</span>
          </span>
          <span class="account-id">0xF6026cE0f721cd8Ca85624bCb0Ca0De9E54986a4</span>
        </a> -->
    </div>
  </main>
</body>
<script language="javascript" type="text/javascript">
  window.require = window.parent.require;

const fs = require('fs');
const path = require('path');
var remote = require('electron').remote;
var __dirname =  remote.getGlobal('sharedObject').__dirname;
var newpath = __dirname.substring(0,__dirname.length-23);

var Web3 = require('web3');
var web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/v3/ad89cc84245d499f89a5d9e1999ceb3f'));
var readpath = newpath+"sol/WisdomMapping.json"
//var abi = fs.readFileSync(readpath).toString();
var abi = require(readpath);
var MyContract =new web3.eth.Contract(abi,'0xD8b894eB52710Ef80e5f8b5ff4E6A126EcCc4679');
 

async function asyncCall(ethaddress) {
    var value = await MyContract.methods.balanceOf(ethaddress).call({ from: ethaddress ,gas: 3141592});
    return value;
}
   $(document).ready(function () {

     
    var list = [];

    
    var remote = require('electron').remote;
    var network =  remote.getGlobal('network').someProperty;
    var accountNum = 1;
    
    var checkDir = fs.existsSync(newpath+"keystore/"+network);
    if(checkDir == true){
        var fileStr = fs.readdirSync(newpath+"keystore/"+network);
        for(var a=0;a<fileStr.length-1;a++){
  　　　　　　for(var j=0;j<fileStr.length-1-a;j++){
              var af = fileStr[j].split("@");;
              var bf = fileStr[j+1].split("@");;
              if(af.length>1 && bf.length>1){
                  if(af[1]>bf[1]){
    　　　　　　　　　　var temp=fileStr[j];
                    fileStr[j]=fileStr[j+1];
                    fileStr[j+1]=temp;
  　　　　　　　　  }
              }
            }　
          }
        var num = 0;
        for(var i=0;i<fileStr.length;i++){
          var file ;
          var p = newpath+"keystore/"+network+"/"+fileStr[i];
          file = fs.readFileSync(p).toString();
          if(file != ""){
            try{
              var filejson = JSON.parse(file);
              var address  = filejson.address;
              var obj = {};
              obj['address'] = address;
              obj['name'] = "account"+(accountNum++);
              list.push(obj);
            }catch(error){
              //continue；
            }
          }
        }

        for(var i=0;i<list.length;i++){
          $(".wallet-box-list").append(Templete.account(list[i].address, list[i].name));
        }

        $(".wallet-box").click(function(){
            $('.dapp-header a', parent.document).removeClass("active");

            localStorage.setItem("account-key", $(this).attr("href"));
            $(location).attr("href", "account.html");
          })
    }else{
      return;
    }
    });

</script>
</html>